.message {
    padding: 10px;
    display: flex;
    flex-shrink: 0;
}

.message-avatar {
    color: white;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    padding: 7px;
    margin-right: 15px;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-info {
    display: flex;
}

.message-user {
    margin-right: 10px;
    font-weight: bold;
}

.message-time {
    font-weight: 100;
    color: grey;
}

.message-text {
    line-height: 20px;
    color: grey;
}
